.remember-me {
    display: flex;
    align-items: center;
    gap: .4rem;
}

.checkbox {
    cursor: pointer;
}

.admin-usuario-flex {
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding: .5rem .5rem 1.7rem;
    border-bottom: 1px solid rgb(226, 226, 226);
}

.login-h2 {
    text-align: center;
    font-size: 2.5rem;
    padding: 1.2rem 1.7rem;
    border: none;
}

.remember-register-flex {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    margin-top: 1rem;
    padding-top: 2rem;
    font-size: 1.1rem;
    border-top: 1px solid rgb(226, 226, 226);
}

.register-here {
    cursor: pointer;
    color: rgb(21, 78, 201);
}

.register-here:hover {
    text-decoration: underline;
}

footer {
    margin-top: 11rem;
}